<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="admin/layout">
<th:block layout:fragment="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h2 th:text="#{user.new}" class="text-center">New User</h2>
        </div>
        <form method="post" th:action="@{/admin/users/new}" th:object="${user}">
          <div class="box-body">

            <div class="form-group">
              <label th:text="#{user.username}" for="username">Username</label>
              <input class="form-control" type="text" id="username" th:placeholder="#{user.username}" th:field="*{username}"/>
            </div>

            <div class="form-group">
              <label th:text="#{user.password}" for="password">Password</label>
              <input class="form-control" type="password" id="password" th:placeholder="#{user.password}" th:field="*{password}"/>
            </div>

            <div class="form-group">
              <label th:text="#{user.email}" for="email">E-mail</label>
              <input class="form-control" type="text" id="email" th:placeholder="#{user.email}" th:field="*{email}"/>
            </div>

            <div class="form-group">
              <label th:text="#{user.role}">User Role</label>
              <select class="form-control" th:field="*{role}">
                <option th:each="role : ${T(in.happycamp.management.domain.Role).values()}"
                        th:value="${role}"
                        th:text="${role}"></option>
              </select>
            </div>

            <button th:text="#{common.create}" class="btn btn-flat" type="submit">Create</button>
          </div>

      </div>

    </div>
  </div>

</th:block>
</html>