<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="admin/layout">
<th:block layout:fragment="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h2 th:text="#{common.login}" class="text-center">Login</h2>
        </div>
        <form method="post" th:action="@{/login}">
          <div class="box-body">

            <div class="form-group">
              <label th:text="#{user.username}" for="username">Username</label>
              <input class="form-control" type="text" id="username" name="username" th:placeholder="#{user.username}"/>
            </div>

            <div class="form-group">
              <label th:text="#{user.password}" for="password">Password</label>
              <input class="form-control" type="password" id="password" name="password" th:placeholder="#{user.password}"/>
            </div>

            <button th:text="#{common.login}" class="btn btn-flat">Login</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</th:block>
</html>