<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/font-awesome.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/AdminLTE.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/skin-purple.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/sweetalert.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/vis.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
  <script th:src="@{/js/fastclick.js}"></script>
  <script th:src="@{/js/adminlte.min.js}"></script>
  <script th:src="@{/js/Chart.min.js}"></script>
  <script th:src="@{/js/vis.min.js}"></script>

</head>
<body class="hold-transition skin-purple fixed sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">

  <header class="main-header">
    <a th:href="@{/}" class="logo">
      <span class="logo-mini"><i class="glyphicon glyphicon-tent"></i></span>
      <span class="logo-lg"><i class="glyphicon glyphicon-tent"></i><b>Happy</b>Camping</span>
    </a>

    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      </a>

    </nav>
  </header>

  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li>
          <a th:href="@{/}">
            <i class="fa fa-home"></i>
            <span th:text="#{common.dashboard}"></span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/rooms}">
            <i class="fa fa-bed"></i>
            <span th:text="#{common.rooms}"></span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/customers}">
            <i class="fa fa-user"></i>
            <span th:text="#{common.customers}"></span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/additions}">
            <i class="fa fa-list"></i>
            <span th:text="#{common.additions}"></span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/foods}">
            <i class="fa fa-glass"></i>
            <span th:text="#{common.foods}"></span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/payments}">
            <i class="fa fa-turkish-lira"></i>
            <span th:text="#{common.payments}"></span>
          </a>
        </li>
        <li>
          <a th:href="@{/timeline}">
            <i class="fa fa-calendar"></i>
            <span th:text="#{common.timeline}"></span>
          </a>
        </li>
        <li>
          <a th:href="@{/admin/users}">
            <i class="fa fa-users"></i>
            <span th:text="#{common.users}"></span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-language"></i>
            <span th:text="#{common.language}"></span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a id="en" class="item" href="#">English</a>
            </li>
            <li>
              <a id="tr" class="item" href="#">Türkçe</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>

  </aside>

  <div class="content-wrapper">
    <section class="content">
      <th:block layout:fragment="content"/>
    </section>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.0.1
    </div>
    <strong>🄯 2017 <a href="https://gitlab.com/adilcan">adilcan</a>.</strong>
    HappyCamping is a <a href="https://fsf.org">Free Software</a>
  </footer>

</div>

<script>
$(document).ready(function() {
    var url = window.location.href;
    var newUrl;
    $('#en').click(function(){
      if (url.indexOf("?lang=tr") >= 0){
        newUrl = url.replace("?lang=tr", "");
        window.location.replace(newUrl + "?lang=en");
      }
      else if (url.indexOf("?lang=en") >= 0){
        newUrl = url.replace("?lang=en", "");
        window.location.replace(newUrl + "?lang=en");
      }
      else {
        window.location.replace(url + "?lang=en");
      }
      });
    $('#tr').click(function(){
      if (url.indexOf("?lang=tr") >= 0){
        newUrl = url.replace("?lang=tr", "");
        window.location.replace(newUrl + "?lang=tr");
      }
      else if (url.indexOf("?lang=en") >= 0){
        newUrl = url.replace("?lang=en", "");
        window.location.replace(newUrl+ "?lang=tr");
      }
      else {
        window.location.replace(url + "?lang=tr");
      }
      });
});


</script>


</body>
</html>