<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="admin/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<th:block layout:fragment="content">

  <div class="four wide centered column">
    <h2 th:text="#{payment.detail}" class="ui horizontal header">Payment Detail</h2>
  </div>
  <div class="ten wide centered column">
    <a class="ui teal button" th:href="@{'/admin/payments/' + *{id} + '/update'}">
      <i class="add circle icon"></i>
      <i th:text="#{common.update}"></i>
    </a>
  </div>
  <table class="ui payment table">
    <tbody>
    <tr>
      <th th:text="#{common.date}">Date</th>
      <th th:text="#{common.customer}">Customer</th>
      <th th:text="#{common.price}">Price</th>
      <th th:text="#{payment.type}">Type</th>
    </tr>
    <tr>
      <td th:text="${#dates.format(payment.date, 'dd-MM-yyyy')}"></td>
      <td th:text="${payment.customer.fullName}"></td>
      <td th:text="${payment.price}"></td>
      <td th:text="${payment.paymentType}"></td>
    </tr>
    </tbody>
  </table>

</th:block>

</html>