<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="admin/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block layout:fragment="content">
  <div class="row">
    <div class="ui secondary pointing fluid menu">
      <h2 th:text="#{addition.new}" class="ui header">New Addition</h2>
    </div>
  </div>
  <div class="row">
    <div class="ui container">
      <form class="ui addition form" method="post" th:action="@{/admin/additions/new}" th:object="${addition}">

        <div class="field">
          <label th:text="#{common.customer}">Customer</label>
          <select class="ui fluid dropdown" th:field="*{customer}">
            <option th:text="#{common.customer}" value="">Customer</option>
            <option th:each="customer :${customers}"
                    th:value="${customer.id}"
                    th:text="${customer.fullName}"></option>
          </select>
        </div>

        <div class="field">
          <select class="ui fluid search dropdown" multiple="" th:field="*{foods}">
            <option th:text="#{common.foods}" value="">Foods</option>
            <option th:each="food :${foods}"
                    th:value="${food.id}"
                    th:text="${food.name}"></option>
          </select>
        </div>

        <div class="field">
          <label th:text="#{common.date}" for="date">Date</label>
          <input type="date" id="date" th:placeholder="#{common.date}" th:field="*{date}" />
        </div>

        <button th:text="#{common.create}" class="ui button" type="submit">Create</button>
      </form>
    </div>
  </div>
</th:block>
</html>