<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="admin/layout"
>
<th:block layout:fragment="content">
  <div class="row">
    <div class="ui secondary pointing fluid menu">
      <h2 th:text="#{addition.new}" class="ui header">New Addition</h2>
    </div>
  </div>
  <div class="row">
    <div class="ui container">
      <form class="ui addition form" method="post" th:action="@{/admin/additions/new}" th:object="${additionDto}">

        <div class="field">
          <label th:text="#{common.customer}">Customer</label>
          <select class="ui fluid search selection dropdown" th:field="*{customer}">
            <option th:text="#{common.customer}" value="">Customer</option>
            <option th:each="customer :${customers}"
                    th:value="${customer.id}"
                    th:text="${customer.fullName}"></option>
          </select>
        </div>

        <div class="ui two column centered grid">

          <div class="column">
            <h4 th:text="#{food.eats}" class="ui centered header">Eats</h4>
            <table class="ui celled table">
              <thead>
              <tr>
                <th th:text="#{common.name}">Name</th>
                <th th:text="#{common.quantity}">Quantity</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="entry: ${eatData}">
                <td><input type="text" th:value="${entry.key.name}" readonly="true"/></td>
                <td><input type="number" th:field="*{eatMap[__${entry.key.name}__]}"/></td>
              </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>

          <div class="column">
            <h4 th:text="#{food.drinks}" class="ui centered header">Eats</h4>
            <table class="ui celled table">
              <thead>
              <tr>
                <th th:text="#{common.name}">Name</th>
                <th th:text="#{common.quantity}">Quantity</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="entry: ${drinkData}">
                <td><input type="text" name="value" th:value="${entry.key.name}" readonly="true"/></td>
                <td><input type="number" name="value" th:field="*{drinkMap[__${entry.key.name}__]}"/></td>
              </tr>
              </tbody>
              <tfoot></tfoot>
            </table>
          </div>

        </div>

        <button th:text="#{common.create}" class="ui button" type="submit">Create</button>
      </form>
    </div>
  </div>
</th:block>
</html>