<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="admin/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<th:block layout:fragment="content">

  <h4 th:text="#{customer.detail}" class="ui horizontal divider header">Customer Detail</h4>

  <table class="ui customer table">
    <tbody>
    <tr>
      <th th:text="#{customer.name}">Name</th>
      <th th:text="#{common.room}">Room</th>
      <th th:text="#{customer.arrival_date}">Arrival Date</th>
      <th th:text="#{customer.return_date}">Return Date</th>
    </tr>
    <tr>
      <td th:text="${customer.fullName}"></td>
      <td><a th:href="@{'/admin/rooms/' + ${customer.room.id}}" th:text="${customer.room.code}"/></td>
      <td th:text="${#dates.format(customer.arrivalDate, 'dd-MM-yyyy')}"></td>
      <td th:text="${#dates.format(customer.returnDate, 'dd-MM-yyyy')}"></td>
    </tr>
    </tbody>
  </table>

  <h4 th:text="#{common.general_addition}" class="ui horizontal divider header">General Addition</h4>

  <table class="ui customer table">
    <thead>
    <tr>
      <th th:text="#{common.food}">Food</th>
      <th th:text="#{common.quantity}">Quantity</th>
      <th th:text="#{common.price}">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pr: ${generalAddition}">
      <td th:text="${pr.key.getName()}"/></td>
      <td th:text="${pr.value}"/></td>
      <td th:text="${pr.value * pr.key.getPrice()}"/></td>
    </tr>
    </tbody>
  </table>

  <h4 th:text="#{common.additions}" class="ui horizontal divider header">Additions</h4>

  <table class="ui customer table">
    <thead>
    <tr>
      <th th:text="#{common.id}">ID</th>
      <th th:text="#{common.date}">Date</th>
      <th th:text="#{common.price}">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="addition :${customer.additions}">
      <td><a th:href="@{'/admin/additions/' + ${addition.id}}" th:text="${addition.id}"/></td>
      <td th:text="${#dates.format(addition.date, 'dd-MM-yyyy')}"></td>
      <td th:text="${addition.price}"></td>
    </tr>
    </tbody>
  </table>

</th:block>

</html>