<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorator="admin/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<th:block layout:fragment="content">
  <div class="row">
    <div class="ui secondary pointing fluid menu">
      <h2 th:text="#{customer.update}" class="ui header">Update a Customer</h2>
    </div>
  </div>
  <div class="row">
    <div class="ui container">
      <form class="ui customer form" method="post" th:action="@{'/admin/customers/' + ${customer.id} + '/update' }" th:object="${customer}">

        <div class="field">
          <label th:text="#{customer.name}" for="name">Full Name</label>
          <input type="text" id="name" th:placeholder="#{customer.name}" th:field="*{fullName}" />
        </div>

        <div class="field">
          <label th:text="#{customer.email}" for="email">E-Mail Address</label>
          <input type="text" id="email" th:placeholder="#{customer.email}" th:value="*{emailAddress}" th:field="*{emailAddress}" />
        </div>

        <div class="field">
          <label th:text="#{customer.phone}" for="phone">Phone</label>
          <input type="text" id="phone" th:placeholder="#{customer.phone}" th:value="*{phoneNumber}" th:field="*{phoneNumber}" />
        </div>

        <div class="field">
          <label th:text="#{customer.status}">Status</label>
          <select class="ui fluid dropdown" th:field="*{statusType}">
            <option th:each="statusType : ${T(in.happycamp.management.domain.StatusType).values()}"
                    th:value="${statusType}"
                    th:text="${statusType}"></option>
          </select>
        </div>

        <div class="field">
          <label th:text="#{customer.arrival_date}" for="arrival_date">Arrival Date</label>
          <input type="date" id="arrival_date" th:placeholder="#{customer.arrival_date}" th:value="*{arrivalDate}" th:field="*{arrivalDate}" />
        </div>

        <div class="field">
          <label th:text="#{customer.return_date}" for="return_date">Return Date</label>
          <input type="date" id="return_date" th:placeholder="#{customer.return_date}" th:value="*{returnDate}" th:field="*{returnDate}" />
        </div>

        <div class="field">
          <label th:text="#{common.room}">Room</label>
          <select class="ui fluid dropdown" th:field="*{room}">
            <option th:text="#{common.room}" value="">Room</option>
            <option th:each="room :${rooms}"
                    th:value="${room.id}"
                    th:text="${room.code}"></option>
          </select>
        </div>


        <button th:text="#{common.update}" class="ui button" type="submit">Update</button>
      </form>
    </div>
  </div>
</th:block>
</html>